<div id="pcoded" class="pcoded" [attr.nav-type]="navType" [attr.theme-layout]="themeLayout" [attr.vertical-placement]="verticalPlacement"
  [attr.vertical-layout]="verticalLayout" [attr.pcoded-device-type]="pcodedDeviceType" [attr.vertical-nav-type]="verticalNavType"
  [attr.vertical-effect]="verticalEffect" [attr.vnavigation-view]="vnavigationView" [attr.fream-type]="freamType" [attr.sidebar-img]="sidebarImg"
  [attr.sidebar-img-type]="sidebarImgType" [attr.layout-type]="layoutType" (window:resize)="onResize($event)">

  <!-- Main-body start -->
  <div id="styleSelector" [ngClass]="configOpenRightBar">
    <div class="selector-toggle">
      <a href="javascript:" placement="left" ngbTooltip="Live layout customizer" (click)="toggleRightbar()"></a>
    </div>
    <perfect-scrollbar [style.max-width]="'100%'" [style.max-height]="'calc(100vh - 495px)'" [config]="config">
      <div class="md-tabs">
        <ngb-tabset>
          <ngb-tab title="DATA">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">

              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="STYLE">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">

              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="tab-content tabs">

      </div>
    </perfect-scrollbar>
  </div>